@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	margin: 0;
	padding: 0;
	background-color: #30475e;
	color: whitesmoke;
	font-family: 'Roboto', sans-serif;
}
.content {
	margin: auto;
	margin-top: 25vh;
	text-align: center;
}

.title {
	font-size: large;
}
.header {
	display: inline-block;
	width: 50vw;
}

.location {
	float: left;
	padding: 10 10 10 10;
	margin-top: 30px;
}

.icon {
	float: right;
	padding: 10 10 10 10;
}

.summery {
	width: 100%;
}
